h1{
    background-color:aquamarine ;
}
.Scooter{
    background-color: green;
}
#Herohonda{
    background-color: palevioletred;
}

.pulsar{
    background-color: darkgoldenrod;
}
#Royalenfield{
    background-color: cornflowerblue
}
h4{
    background-color: chocolate;
}
div{
    background-color: darksalmon;
}
.Bikes{
    background-color: darkseagreen;
}